﻿@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h2>Movies</h2>
    </div>
    <div class="col-md-12">
        @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
    </div>
    <br />
    <div class="col-md-12">
        <table id="tbl_movie" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Genre</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>
    $(document).ready(function () {
        var table = $("#tbl_movie").DataTable({
            ajax: {
                url: "/api/movies",
                dataSrc:""
            },
            columns: [
                {
                    data: "name",
                    render: function (data, type,customer) {
                        return "<a href='/movie/edit/" + customer.id + "'>" + customer.name + "</a>"
                    }
                },
                { data: "gender.name" },
                {
                    data: "id",
                    render: function (data) {
                        return "<button data-movie-id='"+data+"' class='btn-link js-delete'>Delete</button>"
                    }
                },

            ]
        });


        $("#tbl_movie").on("click", ".js-delete", function () {
            var btn = $(this);
            bootbox.confirm("Desea eliminar este Customer", function (result) {
                if(result){
                    $.ajax({
                        url: "/api/movies/" + btn.attr("data-movie-id"),
                        method: "DELETE",
                        success: function () {
                            table.row(btn.parents("tr")).remove().draw();
                        }
                    });
                }
            });
        });
    });
    </script>
}




