﻿@model Vidly.ViewModels.MovieFormViewModel
@{
    /**/

    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Movie</h2>


@using (Html.BeginForm("Save_Update", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => Model.Movie.Name)
        @Html.TextBoxFor(m => Model.Movie.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.Movie.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Gender)
        @Html.DropDownListFor(m => m.Movie.GenderId, new SelectList(Model.Genders, "Id", "Name"), "Selecct Gender", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.GenderId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => Model.Movie.Release_Date)
        @Html.TextBoxFor(m => Model.Movie.Release_Date, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.Release_Date)
    </div>
    @*<div class="form-group">
        @Html.LabelFor(m => Model.Movie.Date_Insert)
        @Html.TextBoxFor(m => Model.Movie.Date_Insert, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.Date_Insert)
    </div>*@
    <div class="form-group">
        @Html.LabelFor(m => Model.Movie.Stock)
        @Html.TextBoxFor(m => Model.Movie.Stock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m =>m.Movie.Stock)
    </div>
    @Html.HiddenFor(m => m.Movie.Id)
    <button class="btn btn-primary" type="submit">Save</button>
}

