﻿@model Vidly.ViewModels.CustomerFormViewModel
@{
    /**/

    /**/

    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save_Update", "Customers"))
{@Html.ValidationSummary(true, "Please fix the following error.")
<div class="form-group">
    @Html.LabelFor(m => m.Customer.Name)
    @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Customer.Name)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Customer.MembershipTypeId)
    @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipType, "Id", "Name"), "Selecct Membership Types", new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Customer.Birthdate)
    @Html.TextBoxFor(m => m.Customer.Birthdate, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Customer.Birthdate)
</div>

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribed to Newsletter?
    </label>
</div>
@Html.HiddenFor(m => m.Customer.Id)
@Html.AntiForgeryToken()
<button class="btn btn-primary" type="submit">Save</button>
}

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval");
    }