﻿@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
    </div>
    <br />
    <div class="col-md-12">
        <table id="tbl_customer" class="table table‐bordered table-hover" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Curtomer</th>
                    <th>MembershipType</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>
</div>
@section scripts
{
<script>
    $(document).ready(function () {
        var table = $("#tbl_customer").DataTable({
            ajax: {
                url: "/api/customers",
                dataSrc:""
            },
            columns: [
                {
                    data: "name",
                    render: function (data, type,customer) {
                        return "<a href='/customer/edit/" + customer.id + "'>" + customer.name + "</a>"
                        console.log(data)
                    }
                },
                { data: "membershipType.name" },
                

                {
                    data: "id",
                    render: function (data) {
                        return "<button data-customer-id='"+data+"' class='btn-link js-delete'>Delete</button>"
                    }
                },

            ]
        });


        $("#tbl_customer").on("click", ".js-delete" ,function () {
            var btn = $(this);
            bootbox.confirm("Desea eliminar este Customer", function (result) {
                if(result){
                    $.ajax({
                        url: "/api/customers/" + btn.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            table.row(btn.parents("tr")).remove().draw();
                        }
                    });
                }
            });
        });  
    });
</script>    
}



